@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.fi-section .fi-section-content > * + * {
    margin-top: 1.5rem; /* 24px between direct children */
}
